<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <title>Login - FOTOTERMA</title>
</head>

<body style="
    margin:0;
    font-family:Arial;
    background:#F8FAFC;
">

    <!-- MENU -->

    <div style="
        background:#1E3A8A;
        padding:20px 60px;
        display:flex;
        justify-content:space-between;
        align-items:center;
    ">

        <h2 style="color:white;margin:0;">
            FOTOTERMA
        </h2>

        <div>
        <a href="/" style="
    color:white;
    text-decoration:none;
">
    Home
</a>

    </div>

    <!-- ÁREA PRINCIPAL -->

    <div style="
        display:flex;
        justify-content:space-around;
        align-items:center;
        padding:80px;
    ">

        <!-- TEXTO -->

        <div style="
    width:50%;
    color:white;
">
      <h1 style="
    font-size:60px;
    margin-bottom:20px;
">
    Plataforma de análise fotovoltaica inteligente
</h1>
<p style="
    color:white;
    font-size:22px;
    line-height:1.7;
">
    Sistema desenvolvido para auxiliar na análise
    preliminar de viabilidade solar em residências
    e pequenos negócios da Ilha de Itamaracá.
</p>
        </div>

       <div style="
    width:420px;
    background:white;
    padding:50px;
    border-radius:25px;
    box-shadow:0 10px 30px rgba(0,0,0,0.15);
">

           <h2 style="
    color:#1E3A8A;
    text-align:center;
    margin-bottom:30px;
">
    Acessar Conta
</h2>
            <form action="/inicial">

                <label>E-mail</label>
                <br><br>
  
                <input type="email" style="
                    width:100%;
                    padding:12px;
                ">

                <br><br>

                <label>Senha</label>
                <br><br>

                <input type="password" style="
                    width:100%;
                    padding:12px;
                ">

                <br><br>

             <button style="
    width:100%;
    background:#1E3A8A;
    color:white;
    border:none;
    padding:16px;
    border-radius:10px;
    cursor:pointer;
    font-size:16px;
    font-weight:bold;
">
    Entrar
</button>
<br><br>

<p style="text-align:center;">
    Não possui uma conta?
</p>

<div style="text-align:center;">

    <a href="/cadastro" style="
        text-decoration:none;
        color:#1E3A8A;
        font-weight:bold;
    ">
        Criar Conta
    </a>

</div>
           </form>

        </div>

    </div>



</body>
</html>