<!DOCTYPE html>
<html>

<head>
    <title>Resultado</title>
</head>

<body style="
    font-family:Arial;
    background:#F8FAFC;
">

    <div style="
        width:60%;
        margin:auto;
        margin-top:50px;
        background:white;
        padding:40px;
        border-radius:20px;
        text-align:center;
    ">

        <h1 style="color:#1E3A8A;">
            Resultado da Análise
        </h1>

        <h2 style="color:#22C55E;">
            {{ resultado }}
        </h2>

        <h3>
            Pontuação: {{ pontos }}/9
        </h3>

        <h3>
            Economia estimada:
            R$ {{ economia }}
        </h3>
        <p>
    Irradiação média local:
    {{ irradiacao }} kWh/m²/dia
   </p>
        <p>
            Esta análise é preliminar e não substitui uma vistoria técnica presencial.
        </p>

        <a href="/inicial">
            Nova Análise
        </a>

<a href="/dashboard" style="
    text-decoration:none;
    background:#1E3A8A;
    color:white;
    padding:10px 20px;
    border-radius:10px;
    margin-left:15px;
">
    Ver Dashboard
</a>
 
    </div>

</body>
</html>